body {
    display: flex;
}

th,
td {
    padding: 10px;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    margin-bottom: 10px;
}

table input {
    width: 45px;
}

.delete-row-cell {
    border-top: hidden;
    border-bottom: hidden;
    border-right: hidden;
}

.box {
    display: flex;
    flex-direction: column;
}

.box:nth-child(1) {
    width: 35%;
}

.box:nth-child(2) {
    width: 15%;
    gap: 15px;
}

.weeks,
.prices,
.totals {
    display: flex;
}

.weeks label,
.prices label {
    display: block;
}

.prices input {
    width: 60px;
}